<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết khóa học</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
<body>

<header>
    <div class="container">
        <h2>CodeCourse</h2>
    </div>
</header>

<div class="container">

    <h1><%= course.name %></h1>
    <p><strong>Trình độ:</strong> <%= course.level %></p>

    <p>
        Đây là khóa học giúp bạn học lập trình từ cơ bản đến nâng cao 🚀
    </p>
    <h1>Những gì bạn sẽ nhận lại được trong khóa học</h1>
    <ul>
        <li>Hiểu chi tiết về các khái niệm cơ bản trong JS</li>
        <li>Tự tin khi phỏng vấn với kiến thức vững chắc</li>
        <li>Thành thạo DOM APIs để tương tác với trang web</li>
        <li>Có nền tảng để học các thư viện và framework JS</li>
    </ul>

    <!-- Nút đăng ký -->
    <a href="/learn/<%= course.id %>" class="btn">
        Đăng ký học
    </a>

    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>