<!DOCTYPE html>
<html>
<head>
<title>Website học lập trình</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
<div class="container">
<h2>CodeCourse</h2>
</div>
</header>

<div class="container">

<h1>Chào mừng đến website học lập trình</h1>

<a href="/courses" class="btn">Xem khóa học</a>

</div>

</body>
</html>